{{!-- <div class="productsList">
    {{#each this.products as |product|}}
    <div class="productItem">
        <img src=""><br>
        <div class="name">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.description}}</div>
        <button>DELETE</button>
        <button>UPDATE</button>
        <button>DETAILS</button>
    </div>
    {{/each}}
</div> --}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each this.products as |product|}}
  <div class="col">
    <div class="card">
      <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}" width="30%">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
       <div class="card-footer">
        {{!-- <small class="price">$ <bold>{{product.price}}</bold> </small> --}}
        <button type="button" class="btn btn-primary addToCart" aria-label="Delete {{product.name}}">Delete</button>
        <button type="button" class="btn btn-primary addToCart" aria-label="Update {{product.name}}">Update</button>
        <button type="button" class="btn btn-primary addToCart" aria-label="Details for {{product.name}}">Details</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
