{{!-- <div class="productsList">
    {{#each this.products as |product|}}
    <div class="productItem">
        <img src=""><br>
        <div class="name">{{product.name}}</div>
        <div class="price">{{product.price}}</div>
        <div class="description">{{product.description}}</div>
        <button>DELETE</button>
        <button>UPDATE</button>
        <button>DETAILS</button>
    </div>
    {{/each}}
</div> --}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    {{#each this.products as |product|}}
    <div class="card">
      <img src="{{product.imageUrl}}" class="card-img-top" alt="..." wdith="30%">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
       <div class="card-footer">
        {{!-- <small class="price">$ <bold>{{product.price}}</bold> </small> --}}
        <small class="btn btn-primary addToCart">Delete</small>
        <small class="btn btn-primary addToCart">Update</small>
        <small class="btn btn-primary addToCart">Details</small>
      </div>
    </div>
  </div>
   {{/each}}
</div>
