<div class="row row-cols-1 row-cols-md-3 g-4 productsList">
  {{#each this.products as |product|}}
  <div class="col">
    <div class="card">
      <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}" width="10%">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
       <div class="card-footer"> 
        {{!-- <small class="price">$ {{product.price}}</small> --}}
        <button type="button" productId={{product._id}} class="btn btn-primary addToCart" aria-label="Add {{product.name}} to cart">Add To Cart</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
